:root {
  /* -g = global */

  --font-family-g: "Poppins", sans-serif;

  --anchor-color-g: var(--color-blue-500);
  --anchor-decoration-color-g: color-mix(
    in srgb,
    var(--anchor-color-g),
    transparent 80%
  );
  --anchor-decoration-color-g_hover: var(--anchor-color-g); /* a:hover */

  --scrollbar-track-color-g: var(--background-color-g);
  --scrollbar-thumb-color-g: var(--text-color-g);

  --fancy-bg-1-color: color-mix(
    in srgb,
    var(--border-color-g),
    transparent 20%
  );
  --fancy-bg-2-color: color-mix(
    in srgb,
    var(--border-color-g),
    transparent 80%
  );

  /* Z-index map */
  --z-navbar: 3;
  --z-dropdown: 3;
  --z-overlay: 2;
  --z-fullscreen-btn: 1;

  /* Theme-dependent variables (themes.css) */
  /* --background-color-g: ;
  --text-color-g: ;
  --text-secondary-color-g: ;
  --border-color-g: ;
  --menus-color-g: ;
  --highlight-primary-color-g: ;
  --highlight-secondary-color-g: ;
  --input-color: ; */
  /* --accent-color-g:;
  --gradient-1: ;
  --gradient-2: ; */
}
