/* theme transition */
body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* animated cursor */

body {
  --cursor-accent: var(--accent-color-g);
}

.cursor-dot {
  transition:
    width 0.2s,
    height 0.2s,
    background 0.3s,
    box-shadow 0.2s,
    opacity 0.2s,
    transform 150ms ease;

  &.dot-active {
    --dot-size: 10px;
    width: var(--dot-size);
    height: var(--dot-size);
  }
}

body {
  &:has(
      .cursor-effect-active:hover,
      a[href]:not(.cursor-effect-subtle):hover,
      button:not([disabled], .cursor-effect-subtle):hover
    ) {
    .cursor-dot {
      &:not(.dot-active) {
        background-color: var(--text-color-g);
      }
    }
  }

  .cursor-effect-hidden {
    cursor: none;
  }

  &:has(.cursor-effect-hidden:hover) {
    .cursor-dot {
      opacity: 0;
      display: none;
      transition:
        opacity 0.3s,
        display 0.3s allow-discrete;
    }
  }

  &:has(.cursor-effect-subtle:hover)
    *:not(
      :has(
        .cursor-effect-active:hover,
        a[href]:not(.cursor-effect-subtle):hover,
        button:not([disabled], .cursor-effect-subtle):hover
      )
    ) {
    .cursor-dot {
      --dot-size: 12px;
      opacity: 0.3;
      width: var(--dot-size);
      height: var(--dot-size);
      background: var(--cursor-accent);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition: none;
  }

  /* Disable cursor motion & effects */
  .cursor-dot {
    display: none;
  }
}
