@import "./fonts.css";
@import "./tailwind.css";
@import "./config.css";
@import "./themes.css";
@import "./interactions.css";

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color-g);
  color: var(--text-color-g);
  font-family: var(--font-family-g);
  cursor: default;
}

html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color-g);
}

html::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color-g);
  border: 3px solid var(--scrollbar-track-color-g);
  border-radius: 10px;
}

html::selection {
  background-color: var(--text-color-g);
  color: var(--bg-color-g);
}

*:not(.focus-reset):focus-visible {
  outline: 2px solid var(--text-color-g);
  outline-offset: 4px;
  transition: none;
}

button:not(:disabled) {
  user-select: none;
  cursor: pointer;
}

button:disabled,
a:not([href]),
a[href="#"] {
  cursor: not-allowed;
  opacity: 0.5;

  &:active {
    pointer-events: none;
  }
}
