@import "./tailwind.css";
@import "./config.css";
@import "./themes.css";

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--global-background-color);
  color: var(--global-text-color);
  font-family: var(--global-font-family);
  cursor: default;
}

html::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

html::-webkit-scrollbar-track {
  background: var(--global-scrollbar-track-color);
  /* border-left: 1px solid var(--global-border-color); */
}

html::-webkit-scrollbar-thumb {
  background: var(--global-scrollbar-thumb-color);
  border: 3px solid var(--global-scrollbar-track-color);
}

* {
  user-select: none;
}

body,
#header nav,
#footer,
#hero,
#about,
#proficiency,
#projects,
#contact-form,
#achievements,
#experience {
  transition:
    background-color 0.4s ease,
    color 0.4s ease; /* Smooth transition for theme changes */
}
