@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./tailwind.css";
@import "./config.css";
@import "./themes.css";
@import "./interactions.css";

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color-g);
  color: var(--text-color-g);
  font-family: var(--font-family-g);
  cursor: default;
}

html::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

html::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color-g);
}

html::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color-g);
  border: 3px solid var(--scrollbar-track-color-g);
}

html::selection {
  background-color: var(--text-color-g);
  color: var(--bg-color-g);
}

*:not(.focus-reset):focus-visible {
  outline: 2px solid var(--text-color-g);
  outline-offset: 4px;
  transition: none;
}

button:not(:disabled) {
  user-select: none;
  cursor: pointer;
}

button:disabled,
a:not([href]),
a[href="#"] {
  cursor: not-allowed;
  opacity: 0.5;

  &:active {
    pointer-events: none;
  }

  &:hover {
    opacity: 0.7;
    outline: 1px solid var(--color-red-500) !important;
    outline-offset: 2px;
  }
}
