@import "tailwindcss";

/* custom tailwind components */

@layer components {
  .section-title {
    @apply relative mb-4 text-center text-2xl tracking-wider before:absolute before:-bottom-1 before:left-1/2 before:-z-1 before:h-[1px] before:w-3/4 before:-translate-x-1/2 before:bg-(--global-border-color);
  }

  .highlight-primary {
    @apply mx-0.5 inline-block bg-(--global-primary-highlight-color) px-2 text-(--global-background-color);
  }

  .highlight-secondary {
    @apply mx-0.5 inline-block bg-(--global-secondary-highlight-color) px-2 text-(--global-text-color);
  }

  .anchor {
    @apply relative inline-flex items-center text-[var(--anchor-color,var(--global-anchor-color))] before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:bg-[var(--anchor-decoration-color,_var(--global-anchor-decoration-color))] after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-0 after:bg-[var(--anchor-decoration-color_hover,_var(--global-anchor-decoration-color_hover))] after:transition-all hover:after:w-full;
  }
}

/* custom tailwind theme-variables */

@theme {
  --breakpoint-xs: 30rem;

  --animate-textAnimation1: textAnim 2s infinite;
  --animate-fadeIn: fadeIn 0.3s ease-out forwards;
  --animate-fadeOut: fadeOut 0.3s ease-out forwards;

  @keyframes textAnim {
    to {
      font-weight: bolder;
      color: var(--accent-color-1);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

/* custom tailwind utilities */

@utility fancy-bg-1 {
  @apply bg-[radial-gradient(var(--fancybg1-color)_1px,transparent_1px)] bg-[length:16px_16px];
}

@utility fancy-bg-2 {
  @apply bg-[repeating-linear-gradient(45deg,var(--fancybg2-color)_0,var(--fancybg2-color)_1.5px,transparent_0,transparent_50%)] bg-[length:15px_15px];
}

@utility secondary-scrollbar {
  &::-webkit-scrollbar {
    @apply size-[7px];
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-lg border-1 border-(--global-background-color) bg-[color-mix(in_srgb,_var(--global-text-color)_30%,_transparent)];
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-[color-mix(in_srgb,_var(--global-text-color)_55%,_transparent)];
  }
}

/* custom tailwind variants */

@custom-variant any-pointer-fine ( @media (any-pointer: fine) );

@custom-variant hover (&:hover); /* Enable hover effects on any device */
