/* Core */

html,
html.theme-light {
  --bg-color-g: #f5f5f5;
  --text-color-g: #1e1e1e;
  --text-secondary-color-g: var(--color-gray-700);
  --border-color-g: #ddd;
  --menus-color-g: #1e1e1e;
  --highlight-primary-color-g: #222;
  --highlight-secondary-color-g: #ddd;

  /* Component-specific variables */
  --input-color: #eeeeee;

  --accent-color-g: #1e90ff;
  --gradient-1:
    linear-gradient(200deg, #1ad29d, #1ad29ea4, #00000000 55%),
    linear-gradient(130deg, #1ad29dcc, #1e90ff, #00000000 70%),
    linear-gradient(10deg, #1eead2, #8930f5cc, #00000000 70%);
}

html.theme-dark,
html.theme-pitch-black {
  --text-color-g: #fafafa;
  --text-secondary-color-g: var(--color-gray-300);
  --menus-color-g: #eee;
  --highlight-primary-color-g: #eee;
  --highlight-secondary-color-g: #555;

  /* Component-specific variables */
  --input-color: #161e20;
}

html.theme-dark {
  --bg-color-g: #0b1215;
  --border-color-g: #1e2227;
}

html.theme-pitch-black {
  --bg-color-g: #000;
  --border-color-g: #1f1f1f;
}

/* Soft Tones */

html.theme-minty {
  --bg-color-g: #e8fff4;
  --text-color-g: #2b4a42;
  --text-secondary-color-g: #558f77;
  --border-color-g: #a1e0c9;
  --menus-color-g: #55aa88;
  --highlight-primary-color-g: #33cc99;
  --highlight-secondary-color-g: #88ffcc;
  --input-color: #d9f7e9;

  --accent-color-g: #33cc99;
  --gradient-1:
    linear-gradient(160deg, #99ffd6, #66e0bccc, #00000000 70%),
    linear-gradient(32deg, #66ffcc, #33cc99cc, #00000000 70%);
}

html.theme-lavender {
  --bg-color-g: #f5f0ff;
  --text-color-g: #4a3f72;
  --text-secondary-color-g: #7a699e;
  --border-color-g: #d1c3eb;
  --menus-color-g: #9278c5;
  --highlight-primary-color-g: #a98fff;
  --highlight-secondary-color-g: #c4aaff;
  --input-color: #e8ddff;

  --accent-color-g: #8d6bff;
  --gradient-1:
    linear-gradient(160deg, #e6ccff, #cc99ffcc, #00000000 70%),
    linear-gradient(32deg, #d9b3ff, #a98fffcc, #00000000 70%);
}

html.theme-aqua-zen {
  --bg-color-g: #f5f5f5;
  --text-color-g: #424242;
  --text-secondary-color-g: #0a4a4b;
  --border-color-g: #65f1ed;
  --menus-color-g: #229799;
  --highlight-primary-color-g: #48cfcb;
  --highlight-secondary-color-g: #70c5c7;
  --input-color: #e0e0e0;

  --accent-color-g: #48cfcb;
  --gradient-1: linear-gradient(160deg, #f5f5f5, #48cfcb, #229799);
}

html.theme-sunrise {
  --bg-color-g: #faf5ed;
  --text-color-g: #663c00;
  --text-secondary-color-g: #996633;
  --border-color-g: #f5d6b3;
  --menus-color-g: #d08c4d;
  --highlight-primary-color-g: #ff7300;
  --highlight-secondary-color-g: #ffc107;
  --input-color: #ffebcc;

  --accent-color-g: #ff9800;
  --gradient-1:
    linear-gradient(160deg, #ffdd99, #ffbb66cc, #00000000 70%),
    linear-gradient(32deg, #ffcc80, #ff9933cc, #00000000 70%);
}

/* Warm & Pastel */

html.theme-pastel {
  --bg-color-g: #fff1f6;
  --text-color-g: #5c4a4a;
  --text-secondary-color-g: #a47c7c;
  --border-color-g: #ebd6d6;
  --menus-color-g: #b5838d;
  --highlight-primary-color-g: #ff8fab;
  --highlight-secondary-color-g: #e2b4bd;
  --input-color: #f8e1e7;

  --accent-color-g: #ff7eb3;
  --gradient-1:
    linear-gradient(160deg, #ffbfd3, #ffafebcc, #00000000 70%),
    linear-gradient(32deg, #ffaec0, #ff75a0cc, #00000000 70%);
}

html.theme-crimson-bloom {
  --bg-color-g: #f1faee;
  --text-color-g: #222222;
  --border-color-g: #ebacb8;
  --menus-color-g: #c91e32;
  --highlight-primary-color-g: #e63946;
  --highlight-secondary-color-g: #d76c82;
  --input-color: #ffb3b3;

  --accent-color-g: #e63946;
  --gradient-1:
    linear-gradient(160deg, #e63946, #ff6b6bcc, #00000000 70%),
    linear-gradient(32deg, #c91e32, #ffb3b3cc, #00000000 70%);
}

/* Developer */

html.theme-one-dark-pro {
  --bg-color-g: #282c34;
  --text-color-g: #c5cedd;
  --text-secondary-color-g: #72baf5;
  --border-color-g: #3e4451;
  --menus-color-g: #e06c75;
  --highlight-primary-color-g: #d47af0;
  --highlight-secondary-color-g: #b87088;
  --input-color: #3e4451;

  --accent-color-g: #61afef;
  --gradient-1: linear-gradient(45deg, #61afef, #c678dd, #e06c75);
}

html.theme-dracula {
  --bg-color-g: #282a36;
  --text-color-g: #f8f8f2;
  --text-secondary-color-g: #bd93f9;
  --border-color-g: #44475a;
  --menus-color-g: #ff79c6;
  --highlight-primary-color-g: #bd93f9;
  --highlight-secondary-color-g: #3b91a5;
  --input-color: #44475a;

  --accent-color-g: #ff79c6;
  --gradient-1: linear-gradient(160deg, #bd93f9, #ff79c6, #bd93f9);
}

html.theme-postman {
  --bg-color-g: #faf6f3;
  --text-color-g: #2d2d2d;
  --text-secondary-color-g: #5c5c5c;
  --border-color-g: #e0e0e0;
  --menus-color-g: #383838;
  --highlight-primary-color-g: #ff6c37;
  --highlight-secondary-color-g: #ffbf84;
  --input-color: #f0f0f0;

  --accent-color-g: #ff6c37;
  --gradient-1: linear-gradient(160deg, #ff6c37, #ffbf84, #ffe9d6);
}

html.theme-nord {
  --bg-color-g: #2e3440;
  --text-color-g: #eceff4;
  --text-secondary-color-g: #d8dee9;
  --border-color-g: #434c5e;
  --menus-color-g: #eceff4;
  --highlight-primary-color-g: #81a1c1;
  --highlight-secondary-color-g: #5e81ac;
  --input-color: #3b4252;

  --accent-color-g: #88c0d0;
  --gradient-1:
    linear-gradient(160deg, #5e81ac, #88c0d0cc, #00000000 70%),
    linear-gradient(32deg, #81a1c1, #8fbcbbcc, #00000000 70%);
}

/* Neon & Futuristic */

html.theme-dark-matter {
  --bg-color-g: #000000;
  --text-color-g: #e0e0e0;
  --text-secondary-color-g: #9e9e9e;
  --border-color-g: #2b2b2b;
  --menus-color-g: #ff4444;
  --highlight-primary-color-g: #ff4444;
  --highlight-secondary-color-g: #5a5a5a;
  --input-color: #111111;

  --accent-color-g: #ff4444;
  --gradient-1: linear-gradient(160deg, #ff4444, #e02727 40%, #000000);
}

html.theme-forest-essence {
  --bg-color-g: #0f231c;
  --text-color-g: #38b37c;
  --text-secondary-color-g: #669e79;
  --border-color-g: #27391c;
  --menus-color-g: #38b37c;
  --highlight-primary-color-g: #6bcc8c;
  --highlight-secondary-color-g: #1c392d;
  --input-color: #0e1a09;

  --accent-color-g: #38b37c;
  --gradient-1: linear-gradient(160deg, #18230f, #1c392d, #38b37c);
}

html.theme-cyber {
  --bg-color-g: #090909;
  --text-color-g: #f1f1f1;
  --text-secondary-color-g: #ececec;
  --border-color-g: #222;
  --menus-color-g: #f559ed;
  --highlight-primary-color-g: #00ffbf;
  --highlight-secondary-color-g: #222;
  --input-color: #111;

  --accent-color-g: #ff2790;
  --gradient-1:
    linear-gradient(200deg, #ff0000, #ff0077cc, #00000000 55%),
    linear-gradient(130deg, #c300ff, #c300ff, #00000000 70%),
    linear-gradient(10deg, #ff0077cc, #00000000 70%);
}

html.theme-synthwave {
  --bg-color-g: #0e0113;
  --text-color-g: #ff77ff;
  --text-secondary-color-g: #e267e2;
  --border-color-g: #381c41;
  --menus-color-g: #c04af7;
  --highlight-primary-color-g: #ff2299;
  --highlight-secondary-color-g: #400a5c;
  --input-color: #400a5c;

  --accent-color-g: #ffd319;
  --gradient-1: linear-gradient(160deg, #4b0082 10%, #ffd319 80%);
}

html.theme-ocean-glow {
  --bg-color-g: #0d1321;
  --text-color-g: #e6fcff;
  --text-secondary-color-g: #81c7c7;
  --border-color-g: #263459;
  --menus-color-g: #4ad6ba;
  --highlight-primary-color-g: #8affff;
  --highlight-secondary-color-g: #1889ac;
  --input-color: #263459;

  --accent-color-g: #56eca1;
  --gradient-1:
    linear-gradient(200deg, #00c950, #00ffff, #00000000 55%),
    linear-gradient(130deg, #90ee90, #64c6ff, #00000000 70%),
    linear-gradient(10deg, #00ffff, #00000000 70%);
}

html.theme-aurora {
  --bg-color-g: #0a0e14;
  --text-color-g: #e6fcff;
  --text-secondary-color-g: #81c7c7;
  --border-color-g: #263459;
  --menus-color-g: #4ad6ba;
  --highlight-primary-color-g: #0dff6e;
  --highlight-secondary-color-g: #1889ac;
  --input-color: #263459;

  --accent-color-g: #00f57a;
  --gradient-1:
    linear-gradient(170deg, #b700ff, #c9a4ff 30%, #0dff6e 40%, #00000000 70%),
    linear-gradient(-40deg, #c300ff8a 40%, #00ff9571 70%),
    linear-gradient(0deg, #53ff53ad, #00c3ff, #00000000 70%);
}
