/* Base Modes */

html,
html.theme-light {
  --bg-color-g: #f5f5f5;
  --text-color-g: #1e1e1e;
  --text-secondary-color-g: var(--color-gray-700);
  --border-color-g: #ddd;
  --menus-color-g: #1e1e1e;
  --highlight-primary-color-g: #222;
  --highlight-secondary-color-g: #ddd;

  /* Component-specific variables */
  --input-color: #eeeeee;

  --accent-color-g: #1e90ff;
  --gradient-1:
    linear-gradient(200deg, #1ad29d, #1ad29ea4, #00000000 55%),
    linear-gradient(130deg, #1ad29dcc, #1e90ff, #00000000 70%),
    linear-gradient(10deg, #1eead2, #8930f5cc, #00000000 70%);
  --gradient-2:
    linear-gradient(247deg, #ff4479, #1e90ffcc, #00000000 70%),
    linear-gradient(192deg, #26f3cacc, #00000000 70%),
    linear-gradient(125deg, #97a7eccc, #00000000 70%),
    linear-gradient(167deg, #00000000, #00000000 110%);
}

html.theme-dark,
html.theme-pitch-black {
  --text-color-g: #fafafa;
  --text-secondary-color-g: var(--color-gray-300);
  --border-color-g: #333;
  --menus-color-g: #eee;
  --highlight-primary-color-g: #eee;
  --highlight-secondary-color-g: #555;

  /* Component-specific variables */
  --input-color: #161e20;
}

html.theme-dark {
  --bg-color-g: #0b1215;
}

html.theme-pitch-black {
  --bg-color-g: #000;
}

/* Soft & Neutral */

html.theme-paper {
  --bg-color-g: #f8f4ef;
  --text-color-g: #052344;
  --text-secondary-color-g: #003e81;
  --border-color-g: #ddd6c0;
  --menus-color-g: #002b59;
  --highlight-primary-color-g: #b39e59;
  --highlight-secondary-color-g: #d8c997;
  --input-color: #f5f3eb;

  --accent-color-g: #b39e59;
  --gradient-1: linear-gradient(160deg, #fdd0b2, #e2d2b0 60%, #fbfbf7 100%);
  --gradient-2: linear-gradient(143deg, #ddd6c0, #d1b194 50%, #b6a065da 100%);
}

html.theme-sepia {
  --bg-color-g: #f4ecd8;
  --text-color-g: #5b4636;
  --text-secondary-color-g: #8b6f58;
  --border-color-g: #d6c3a3;
  --menus-color-g: #7a5c45;
  --highlight-primary-color-g: #6d4c3d;
  --highlight-secondary-color-g: #c9b299;
  --input-color: #d6c3a3;

  --accent-color-g: #b97a57;
  --gradient-1:
    linear-gradient(160deg, #e0c5a3, #c18f6dcc, #00000000 70%),
    linear-gradient(32deg, #e8d3b3, #a67458cc, #00000000 70%);
  --gradient-2:
    linear-gradient(73deg, #866c57, #c9966ecc, #00000000 70%),
    linear-gradient(330deg, #5b4636, #a87a58cc, #00000000 70%);
}

html.theme-minty {
  --bg-color-g: #e8fff4;
  --text-color-g: #2b4a42;
  --text-secondary-color-g: #558f77;
  --border-color-g: #a1e0c9;
  --menus-color-g: #55aa88;
  --highlight-primary-color-g: #33cc99;
  --highlight-secondary-color-g: #88ffcc;
  --input-color: #d9f7e9;

  --accent-color-g: #33cc99;
  --gradient-1:
    linear-gradient(160deg, #99ffd6, #66e0bccc, #00000000 70%),
    linear-gradient(32deg, #66ffcc, #33cc99cc, #00000000 70%);
  --gradient-2:
    linear-gradient(73deg, #ccffe6, #99e6cc, #00000000 70%),
    linear-gradient(330deg, #66e0b3, #33b38fcc, #00000000 70%);
}

html.theme-lavender {
  --bg-color-g: #f5f0ff;
  --text-color-g: #4a3f72;
  --text-secondary-color-g: #7a699e;
  --border-color-g: #d1c3eb;
  --menus-color-g: #9278c5;
  --highlight-primary-color-g: #a98fff;
  --highlight-secondary-color-g: #c4aaff;
  --input-color: #e8ddff;

  --accent-color-g: #8d6bff;
  --gradient-1:
    linear-gradient(160deg, #e6ccff, #cc99ffcc, #00000000 70%),
    linear-gradient(32deg, #d9b3ff, #a98fffcc, #00000000 70%);
  --gradient-2:
    linear-gradient(73deg, #f0e6ff, #bfa3ffcc, #00000000 70%),
    linear-gradient(330deg, #d1b3ff, #9973ffcc, #00000000 70%);
}

html.theme-aqua-zen {
  --bg-color-g: #f5f5f5;
  --text-color-g: #424242;
  --text-secondary-color-g: #229799;
  --border-color-g: #48cfcb;
  --menus-color-g: #229799;
  --highlight-primary-color-g: #48cfcb;
  --highlight-secondary-color-g: #229799;
  --input-color: #e0e0e0;

  --accent-color-g: #48cfcb;
  --gradient-1: linear-gradient(160deg, #f5f5f5, #48cfcb, #229799);
  --gradient-2: linear-gradient(73deg, #48cfcb, #229799, #424242);
}

html.theme-sunrise {
  --bg-color-g: #faf5ed;
  --text-color-g: #663c00;
  --text-secondary-color-g: #996633;
  --border-color-g: #f5d6b3;
  --menus-color-g: #d08c4d;
  --highlight-primary-color-g: #ff7300;
  --highlight-secondary-color-g: #ffc107;
  --input-color: #ffebcc;

  --accent-color-g: #ff9800;
  --gradient-1:
    linear-gradient(160deg, #ffdd99, #ffbb66cc, #00000000 70%),
    linear-gradient(32deg, #ffcc80, #ff9933cc, #00000000 70%);
  --gradient-2:
    linear-gradient(73deg, #ff3e3e, #ff9800, #00000000 70%),
    linear-gradient(330deg, #ffb84d, #ff8800cc, #00000000 70%);
}

html.theme-arctic-sky {
  --bg-color-g: #daecf7;
  --text-color-g: #004466;
  --text-secondary-color-g: #006699;
  --border-color-g: #95bfdb;
  --menus-color-g: #3388aa;
  --highlight-primary-color-g: #0099cc;
  --highlight-secondary-color-g: #33ccff;
  --input-color: #ccf2ff;

  --accent-color-g: #00bfff;
  --gradient-1:
    linear-gradient(160deg, #33ccff, #9bd7ffcc, #00000000 70%),
    linear-gradient(32deg, #66e0ff, #8ee8ffcc, #00000000 70%);
  --gradient-2:
    linear-gradient(73deg, #99e6ff, #79defacc, #00000000 70%),
    linear-gradient(330deg, #0099cc, #69bce6cc, #00000000 70%);
}

/* Pastel & Romantic */

html.theme-pastel {
  --bg-color-g: #fff1f6;
  --text-color-g: #5c4a4a;
  --text-secondary-color-g: #a47c7c;
  --border-color-g: #ebd6d6;
  --menus-color-g: #b5838d;
  --highlight-primary-color-g: #ff8fab;
  --highlight-secondary-color-g: #e2b4bd;
  --input-color: #f8e1e7;

  --accent-color-g: #ff7eb3;
  --gradient-1:
    linear-gradient(160deg, #ffbfd3, #ffafebcc, #00000000 70%),
    linear-gradient(32deg, #ffaec0, #ff75a0cc, #00000000 70%);
  --gradient-2:
    linear-gradient(73deg, #ff5e8e, #ff89d2cc, #00000000 70%),
    linear-gradient(330deg, #ff9ab8, #ff6886, #00000000 70%);
}

html.theme-cotton-candy {
  --bg-color-g: #ffedfa;
  --text-color-g: #be5985;
  --text-secondary-color-g: #ec7fa9;
  --border-color-g: #ffb8e0;
  --menus-color-g: #ec7fa9;
  --highlight-primary-color-g: #be5985;
  --highlight-secondary-color-g: #ffb8e0;
  --input-color: #ffe3f6;

  --accent-color-g: #ec7fa9;
  --gradient-1: linear-gradient(160deg, #ffedfa, #ffb8e0, #ec7fa9);
  --gradient-2: linear-gradient(73deg, #ffb8e0, #ec7fa9, #be5985);
}

html.theme-vintage-rose {
  --bg-color-g: #ebe8db;
  --text-color-g: #3d0301;
  --text-secondary-color-g: #b03052;
  --border-color-g: #d76c82;
  --menus-color-g: #3d0301;
  --highlight-primary-color-g: #b03052;
  --highlight-secondary-color-g: #d76c82;
  --input-color: #f5f5f5;

  --accent-color-g: #d76c82;
  --gradient-1: linear-gradient(160deg, #ebe8db, #d76c82, #b03052);
  --gradient-2: linear-gradient(73deg, #3d0301, #b03052, #d76c82);
}

html.theme-red-harmony {
  --bg-color-g: #f1faee;
  --text-color-g: #222222;
  --border-color-g: #e63946;
  --menus-color-g: #c91e32;
  --highlight-primary-color-g: #ff6b6b;
  --highlight-secondary-color-g: #e63946;
  --input-color: #ffb3b3;

  --accent-color-g: #e63946;
  --gradient-1:
    linear-gradient(160deg, #e63946, #ff6b6bcc, #00000000 70%),
    linear-gradient(32deg, #c91e32, #ffb3b3cc, #00000000 70%);
  --gradient-2:
    linear-gradient(73deg, #e63946, #ff3f6ecc, #00000000 70%),
    linear-gradient(330deg, #c91e32, #ff6b6bcc, #00000000 70%),
    linear-gradient(168deg, #e63946, #ffb3b3cc, #00000000 70%);
}

html.theme-red-rose {
  --bg-color-g: #fdf0f0;
  --text-color-g: #3d0301;
  --border-color-g: #d76c82;
  --menus-color-g: #b03052;
  --highlight-primary-color-g: #e63946;
  --highlight-secondary-color-g: #d76c82;
  --input-color: #ffd1dc;

  --accent-color-g: #e63946;
  --gradient-1:
    linear-gradient(160deg, #e63946, #d76c82cc, #00000000 70%),
    linear-gradient(32deg, #b03052, #ffd1dccc, #00000000 70%);
  --gradient-2:
    linear-gradient(73deg, #e63946, #ff577fcc, #00000000 70%),
    linear-gradient(330deg, #b03052, #d76c82cc, #00000000 70%),
    linear-gradient(168deg, #e63946, #ffd1dccc, #00000000 70%);
}

/* Dev Favorites */

html.theme-one-dark-pro {
  --bg-color-g: #282c34;
  --text-color-g: #c5cedd;
  --text-secondary-color-g: #72baf5;
  --border-color-g: #3e4451;
  --menus-color-g: #e06c75;
  --highlight-primary-color-g: #d47af0;
  --highlight-secondary-color-g: #b87088;
  --input-color: #3e4451;

  --accent-color-g: #61afef;
  --gradient-1: linear-gradient(45deg, #61afef, #c678dd, #e06c75);
  --gradient-2: linear-gradient(70deg, #eabdf5, #c678dd, #e06c75);
}

html.theme-dracula {
  --bg-color-g: #282a36;
  --text-color-g: #f8f8f2;
  --text-secondary-color-g: #bd93f9;
  --border-color-g: #44475a;
  --menus-color-g: #ff79c6;
  --highlight-primary-color-g: #bd93f9;
  --highlight-secondary-color-g: #3b91a5;
  --input-color: #44475a;

  --accent-color-g: #ff79c6;
  --gradient-1: linear-gradient(160deg, #bd93f9, #ff79c6, #bd93f9);
  --gradient-2: linear-gradient(73deg, #ff5555, #ff79c6, #bd93f9);
}

html.theme-postman {
  --bg-color-g: #faf6f3;
  --text-color-g: #2d2d2d;
  --text-secondary-color-g: #5c5c5c;
  --border-color-g: #e0e0e0;
  --menus-color-g: #383838;
  --highlight-primary-color-g: #ff6c37;
  --highlight-secondary-color-g: #ffbf84;
  --input-color: #f0f0f0;

  --accent-color-g: #ff6c37;
  --gradient-1: linear-gradient(160deg, #ff6c37, #ffbf84, #ffe9d6);
  --gradient-2: linear-gradient(73deg, #ff6c37, #ffbf84, #ffd599);
}

/* Tech & Futuristic */

html.theme-dark-matter {
  --bg-color-g: #000000;
  --text-color-g: #e0e0e0;
  --text-secondary-color-g: #9e9e9e;
  --border-color-g: #2b2b2b;
  --menus-color-g: #ff4444;
  --highlight-primary-color-g: #ff4444;
  --highlight-secondary-color-g: #5a5a5a;
  --input-color: #111111;

  --accent-color-g: #ff4444;
  --gradient-1: linear-gradient(160deg, #ff4444, #e02727 40%, #000000);
  --gradient-2: linear-gradient(30deg, #000, #ff4444, #610000);
}

html.theme-forest-essence {
  --bg-color-g: #0f231c;
  --text-color-g: #38b37c;
  --text-secondary-color-g: #669e79;
  --border-color-g: #27391c;
  --menus-color-g: #38b37c;
  --highlight-primary-color-g: #6bcc8c;
  --highlight-secondary-color-g: #1c392d;
  --input-color: #0e1a09;

  --accent-color-g: #38b37c;
  --gradient-1: linear-gradient(160deg, #18230f, #1c392d, #38b37c);
  --gradient-2: linear-gradient(73deg, #1c392d, #255f38, #38b37c);
}

html.theme-cyber {
  --bg-color-g: #090909;
  --text-color-g: #f1f1f1;
  --text-secondary-color-g: #ececec;
  --border-color-g: #222;
  --menus-color-g: #f559ed;
  --highlight-primary-color-g: #00ffbf;
  --highlight-secondary-color-g: #222;
  --input-color: #111;

  --accent-color-g: #ff2790;
  --gradient-1:
    linear-gradient(200deg, #ff0000, #ff0077cc, #00000000 55%),
    linear-gradient(130deg, #c300ff, #c300ff, #00000000 70%),
    linear-gradient(10deg, #ff0077cc, #00000000 70%);
  --gradient-2:
    linear-gradient(247deg, #ff4479, #b300ff, #00000000 70%),
    linear-gradient(192deg, #26f3cacc, #00000000 70%),
    linear-gradient(125deg, #ff4479, #00000000 70%);
}

html.theme-synthwave {
  --bg-color-g: #1d0227;
  --text-color-g: #ff77ff;
  --text-secondary-color-g: #e267e2;
  --border-color-g: #381c41;
  --menus-color-g: #c04af7;
  --highlight-primary-color-g: #ff2299;
  --highlight-secondary-color-g: #400a5c;
  --input-color: #400a5c;

  --accent-color-g: #ffd319;
  --gradient-1: linear-gradient(160deg, #4b0082 10%, #ffd319 80%);
  --gradient-2: linear-gradient(0deg, #4b0082, #ff44aa 30%, #ffd319 100%);
}

html.theme-ocean-glow {
  --bg-color-g: #0d1321;
  --text-color-g: #e6fcff;
  --text-secondary-color-g: #81c7c7;
  --border-color-g: #263459;
  --menus-color-g: #4ad6ba;
  --highlight-primary-color-g: #8affff;
  --highlight-secondary-color-g: #1889ac;
  --input-color: #263459;

  --accent-color-g: #56eca1;
  --gradient-1:
    linear-gradient(200deg, #00c950, #00ffff, #00000000 55%),
    linear-gradient(130deg, #90ee90, #64c6ff, #00000000 70%),
    linear-gradient(10deg, #00ffff, #00000000 70%);
  --gradient-2:
    linear-gradient(247deg, #00c950, #00ffff, #00000000 70%),
    linear-gradient(192deg, #00ffff, #00000000 70%),
    linear-gradient(125deg, #90ee90, #00000000 70%);
}

html.theme-aurora {
  --bg-color-g: #0a0e14;
  --text-color-g: #e6fcff;
  --text-secondary-color-g: #81c7c7;
  --border-color-g: #263459;
  --menus-color-g: #4ad6ba;
  --highlight-primary-color-g: #0dff6e;
  --highlight-secondary-color-g: #1889ac;
  --input-color: #263459;

  --accent-color-g: #00f57a;
  --gradient-1:
    linear-gradient(170deg, #b700ff, #c9a4ff 30%, #0dff6e 40%, #00000000 70%),
    linear-gradient(-40deg, #c300ff8a 40%, #00ff9571 70%),
    linear-gradient(0deg, #53ff53ad, #00c3ff, #00000000 70%);
  --gradient-2:
    linear-gradient(
      200deg,
      #00000000 30%,
      #a164ff 40%,
      #0dff6e 45%,
      #b700ff70 70%,
      #2938ff
    ),
    linear-gradient(40deg, #b700ff, #0dff6e, #b700ff);
}
